 <mat-toolbar color="primary">  
        <span><a href="lab-drafts/startseite" mat-button><h1 style="font-size:2.5em">Startseite</h1></a></span>
  
        <span class="example-spacer"></span>
        
        <div fxShow="true" fxHide.lt-md="true">
        
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        
          <a href="lab-drafts/popup" mat-button>Prozessverlauf</a>
        
          <a href="lab-drafts/settings" mat-button><i class="material-icons">settings</i></a>
        
          <a href="#" mat-button>Abmelden</a>       
        
        </div>
        
        <div fxShow="true" fxHide.gt-sm="true">
        
          <button mat-button (click)="sidenav.toggle()"><i class="material-icons">list</i></button>
        
        </div>  
    </mat-toolbar>


   
    <mat-sidenav-container fxFlexFill class="example-container">  
        <mat-sidenav #sidenav fxLayout="column">  
            <div fxLayout="column">

                <button (click)="sidenav.toggle()"  mat-button>Close</button>          
            
                <a href="lab-drafts/popup" mat-button>Prozessverlauf</a>
            
                <a href="lab-drafts/settings" mat-button><i class="material-icons">settings</i></a>
            
                <a href="#" mat-button>Abmelden</a>       
            
              </div> 
        </mat-sidenav>  
        <mat-sidenav-content fxFlexFill>        
                <!-- <p>Genehmigunsanfrage erstellen<p>     
                <button mat-fab color="warn" ><i class="material-icons">add</i></button>                         -->
                <router-outlet></router-outlet>        
        </mat-sidenav-content>  
      </mat-sidenav-container> 